<header class="header">
	<div class="header__top">
		<div class="container">
			<ul class="contact-list">
				<li class="contact-list__item">
					<span class="contact-list__city">Phoenix</span>
					<a href="tel:+16022542088" class="contact-list__phone">P: 602.254.2088</a>
					<a href="tel:+16022687433" class="contact-list__phone">F: 602.268.7433</a>
				</li>
				<li class="contact-list__item">
					<span class="contact-list__city">Scottsdale</span>
					<a href="tel:+14809126060" class="contact-list__phone">P: 480.912.6060</a>
					<a href="tel:+14809126059" class="contact-list__phone">F: 480.912.6059</a>
				</li>
				<li class="contact-list__item">
					<span class="contact-list__city">Glendale</span>
					<a href="tel:+16239786507" class="contact-list__phone">P: 623.978.6507</a>
					<a href="tel:+16234120664" class="contact-list__phone">F: 623.412.0664</a>
				</li>
				<li class="contact-list__item">
					<span class="contact-list__city">Gilbert</span>
					<a href="tel:+14809170858" class="contact-list__phone">P: 480.917.0858</a>
					<a href="tel:+14809170638" class="contact-list__phone">F: 480.917.0638</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="header__bottom-wrapper">
				<div class='nav'>
					<include src="html/components/btn-outline/_index.html"
						locals='{"text": "catalog", "icon": "src/assets/icons/download-header-icon.svg"}'>
					</include>
					<div class="nav__wrapper">
						<ul class="nav__list">
							<li class="nav__item">
								<a href="/" class="nav__link">Home</a>
							</li>
							<li class="nav__item">
								<a href="#products" class="nav__link nav__link--has-dropdown">Products</a>
							</li>
							<li class="nav__item">
								<a href="#photo-gallery" class="nav__link">Photo Gallery</a>
							</li>
							<li class="nav__item">
								<a href="#about-us" class="nav__link">About Us</a>
							</li>
							<li class="nav__item">
								<a href="#blog" class="nav__link">Blog</a>
							</li>
						</ul>
						<div class='nav__logo'>
							<include src="html/components/logo/_index.html"></include>
						</div>
						<ul class="nav__list">
							<li class="nav__item">
								<a href="#comercial-applications" class="nav__link">Commercial Applications</a>
							</li>
							<li class="nav__item">
								<a href="#contact" class="nav__link">Contact</a>
							</li>
							<li class="nav__item">
								<a href="#fabric-visualizer" class="nav__link">Fabric Visualizer</a>
							</li>
						</ul>
					</div>
					<include src="html/components/social/_index.html"></include>
				</div>
			</div>
		</div>
	</div>
</header>