<footer class="footer">
	<div class="main-container">
		<div class="footer__top">
			<div class="footer__column">
				<h3 class="footer__title">Quick Links</h3>
				<nav class="footer__nav">
					<ul class="footer__list">
						<li class="footer__item"><a href="#" class="footer__link footer__link--active">Home</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Photo Gallery</a></li>
						<li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Commercial Applications</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Fabric Vizualizer</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__column">
				<h3 class="footer__title">Products</h3>
				<ul class="footer__list">
					<li class="footer__item"><a href="#" class="footer__link footer__link--active">Outdoor Furniture
							Collections</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Sonoran</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Sunrise</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Grand Canyon</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Elite</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Signature</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Outdoor Tables</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Canopy Bed</a></li>
				</ul>
			</div>
			<div class="footer__column">
				<ul class="footer__list">
					<li class="footer__item"><a href="#" class="footer__link footer__link--active">Fabric & Frame Color
							Options</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Alternate Frame Sizes & Design Modifications</a>
					</li>
					<li class="footer__item"><a href="#" class="footer__link">Sunbrella & Powder Coating</a></li>
					<li class="footer__item"><a href="#" class="footer__link footer__link--active">Custom Replacement Cushions</a>
					</li>
					<li class="footer__item"><a href="#" class="footer__link">Sunbrella Cushions</a></li>
					<li class="footer__item"><a href="#" class="footer__link footer__link--active">Umbrellas & Patio
							Accessories</a></li>
				</ul>
			</div>
			<div class="footer__column">
				<h3 class="footer__title">Address & Phone</h3>
				<ul class="footer__contacts">
					<li class="footer__contact-item">
						<address class="footer__address">
							<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location" class="footer__icon">
							<span class="footer__location">6384 W. Bell Rd. Glendale, AZ 85308</span>
						</address>
						<address class="footer__address">
							<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
							<a href="tel:6239795607" class="footer__phone">(623)979-5607</a>
						</address>
					</li>
					<li class="footer__contact-item">
						<address class="footer__address">
							<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location" class="footer__icon">
							<span class="footer__location">15330 N. Hayden Rd. Scottsdale, AZ 85260</span>
						</address>
						<address class="footer__address">
							<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
							<a href="tel:6239795607" class="footer__phone">(480)912-6060</a>
						</address>
					</li>
					<li class="footer__contact-item">
						<address class="footer__address">
							<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location" class="footer__icon">
							<span class="footer__location">2765 S. Market St. Gilbert, AZ</span>
						</address>
						<address class="footer__address">
							<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
							<a href="tel:6239795607" class="footer__phone">(480)917-0658</a>
						</address>
					</li>
					<li class="footer__contact-item">
						<address class="footer__address">
							<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location" class="footer__icon">
							<span class="footer__location">1209 Grand Ave. Phoenix, AZ 85007</span>
						</address>
						<address class="footer__address">
							<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
							<a href="tel:6239795607" class="footer__phone">(602)237-5106</a>
						</address>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer__divider-top"></div>

		<div class="footer__bottom">
			<div class='footer__logo'>
				<include src="html/components/logo/_index.html"></include>
			</div>
			<div class="footer__actions">
				<include class="footer__catalog-btn" src="html/components/btn-outline/_index.html"
					locals='{"text": "product catalog"}'></include>
				<include src="html/components/social/_index.html"></include>
			</div>

			<div class="footer__divider-bottom"></div>
		</div>
		<div class="footer__copyright">
			<p class="footer__copyright-text">Copyright © 2024 Arizona Iron Patio Furniture. All Rights Reserved.</p>
			<div class="footer__copyright-info">
				<img class="footer__copyright-icon" src="src/assets/icons/footer-arizona-icon.svg" width="24" height="24"
					alt="Arizona Web Design">
				<a class="footer__copyright-link" href="#">Arizona Web Design</a>
			</div>
		</div>
		<div class="main-container">
			<div class="footer__top">
				<div class="footer__column">
					<h3 class="footer__title">Quick Links</h3>
					<nav class="footer__nav">
						<ul class="footer__list">
							<li class="footer__item"><a href="#" class="footer__link footer__link--active">Home</a></li>
							<li class="footer__item"><a href="#" class="footer__link">Photo Gallery</a></li>
							<li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
							<li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
							<li class="footer__item"><a href="#" class="footer__link">Commercial Applications</a></li>
							<li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
							<li class="footer__item"><a href="#" class="footer__link">Fabric Vizualizer</a></li>
						</ul>
					</nav>
				</div>
				<div class="footer__column">
					<h3 class="footer__title">Products</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="#" class="footer__link footer__link--active">Outdoor Furniture
								Collections</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Sonoran</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Sunrise</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Grand Canyon</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Elite</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Signature</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Outdoor Tables</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Canopy Bed</a></li>
					</ul>
				</div>
				<div class="footer__column">
					<ul class="footer__list">
						<li class="footer__item"><a href="#" class="footer__link footer__link--active">Fabric & Frame Color
								Options</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Alternate Frame Sizes & Design Modifications</a>
						</li>
						<li class="footer__item"><a href="#" class="footer__link">Sunbrella & Powder Coating</a></li>
						<li class="footer__item"><a href="#" class="footer__link footer__link--active">Custom Replacement
								Cushions</a>
						</li>
						<li class="footer__item"><a href="#" class="footer__link">Sunbrella Cushions</a></li>
						<li class="footer__item"><a href="#" class="footer__link footer__link--active">Umbrellas & Patio
								Accessories</a></li>
					</ul>
				</div>
				<div class="footer__column">
					<h3 class="footer__title">Address & Phone</h3>
					<ul class="footer__contacts">
						<li class="footer__contact-item">
							<address class="footer__address">
								<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location"
									class="footer__icon">
								<span class="footer__location">6384 W. Bell Rd. Glendale, AZ 85308</span>
							</address>
							<address class="footer__address">
								<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
								<a href="tel:6239795607" class="footer__phone">(623)979-5607</a>
							</address>
						</li>
						<li class="footer__contact-item">
							<address class="footer__address">
								<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location"
									class="footer__icon">
								<span class="footer__location">15330 N. Hayden Rd. Scottsdale, AZ 85260</span>
							</address>
							<address class="footer__address">
								<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
								<a href="tel:6239795607" class="footer__phone">(480)912-6060</a>
							</address>
						</li>
						<li class="footer__contact-item">
							<address class="footer__address">
								<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location"
									class="footer__icon">
								<span class="footer__location">2765 S. Market St. Gilbert, AZ</span>
							</address>
							<address class="footer__address">
								<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
								<a href="tel:6239795607" class="footer__phone">(480)917-0658</a>
							</address>
						</li>
						<li class="footer__contact-item">
							<address class="footer__address">
								<img src="src/assets/icons/location-icon.svg" width="16" height="16" alt="Location"
									class="footer__icon">
								<span class="footer__location">1209 Grand Ave. Phoenix, AZ 85007</span>
							</address>
							<address class="footer__address">
								<img src="src/assets/icons/phone-icon.svg" width="16" height="16" alt="Phone" class="footer__icon">
								<a href="tel:6239795607" class="footer__phone">(602)237-5106</a>
							</address>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer__divider-top"></div>



		</div>
</footer>