<ul class='social'>
	<li class='social__item'>
		<a href="https://www.facebook.com" target="_blank" class='social__link icon icon-fb'>
			<span class='sr-only'>Go to our Facebook page</span>
		</a>
	</li>
	<li class='social__item'>
		<a href="https://www.instagram.com" target="_blank" class='social__link icon icon-in'>
			<span class='sr-only'>Go to our Instagram page</span>
		</a>
	</li>
	<li>
		<a href="https://www.youtube.com" target="_blank" class='social__link icon icon-yt'>
			<span class='sr-only'>Go to our YouTube channel</span>
		</a>
	</li>
</ul>