<ul class='social'>
	<li class='social__item'>
		<a href="https://www.facebook.com" target="_blank" class='social__link icon icon-fb'>
			<img src="src/assets/icons/facebook-icon.svg" width="20" height="20" alt="Facebook" class='social__icon'>
			<span class='sr-only'>Go to our Facebook page</span>
		</a>
	</li>
	<li class='social__item'>
		<a href="https://www.instagram.com" target="_blank" class='social__link icon icon-in'>
			<img src="src/assets/icons/instagram-icon.svg" width="20" height="20" alt="Instagram" class='social__icon'>
			<span class='sr-only'>Go to our Instagram page</span>
		</a>
	</li>
	<li>
		<a href="https://www.youtube.com" target="_blank" class='social__link icon icon-yt'>
			<img src="src/assets/icons/youtube-icon.svg" width="20" height="20" alt="YouTube" class='social__icon'>
			<span class='sr-only'>Go to our YouTube channel</span>
		</a>
	</li>
</ul>