:root {
	--ff-primary: 'Poppins', sans-serif;

	--c-accent: #febd01;
	--c-secondary: #ff8367;
	--c-lightgray: #dcdcdc;
	--c-title: #0b1623;
	--c-black: #000000;
	--c-white: #ffffff;

	--bg-black: #101415;
	--bg-blue: #363958;
}
